.chat {
    width:calc(100% - 1px);
    height: 70vh;
    overflow-y: auto;
    margin: 0 auto;
    border-bottom: 0;
    position: relative;

    // &_goDown {
    //     width: 45px;
    //     height: 45px;
    //     border: 0;
    //     background-color: #905bb7;
    //     position: fixed;
    //     border-radius: 50%;
    //     top: 70%;
    //     left: 80%;
    // }

    &_delete_block {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        z-index: 10;
    }

    &_delete {
        width: fit-content;
        height: auto;
        display: block;

        li {
            list-style: none;
            border: 0;
            margin-bottom: 10px;
        }

        h4 {
            color: antiquewhite;
            margin-bottom: 10px;
        }

        button {
            padding: 8px 30px;
            background-color: #8864cc;
            color: wheat;
            border: 0;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 90%;
            font-size: 16px;
            cursor: pointer;
        }

        img {    
            margin-top: 2px;
            width: 15px;
        }
    }

    &::-webkit-scrollbar { 
        width: 0; 
    }
    
    &_block {
        padding: 0 15px;
    }

    &_message {
        display: flex;
        width: fit-content;
        margin-top: 10px;
        max-width: 700px; 

        &_ava img{
            border-radius: 50%;
            width: 40px;
            height: auto;
        }

        &_name {
            color: #7773ca;
            margin-right: 8px;
        }


        &_block {
            background-color: #e8ecf0;
            padding: 4px 20px 8px 20px;
            border-radius: 10px;
            margin-left: 6px;
        }

        &_text {
            color: #5d6f82;
            word-break: break-all;
        }

        &_date {
            display: flex;
            color: #737889;
            margin-top: 4px;

            span {
                display: flex;
                margin-left: auto;
                font-size: 13px;
            }

        }
    }

    &_message {
        &You {
            display: flex;
        }
    
        &_blockYou {
            background-color: #837ccf;
            padding: 6px 20px;
            border-radius: 10px;
            margin-right: 6px;
            display: flex;
            align-items: center;
        }
    
        &_textYou {
            color: whitesmoke;
            word-break: break-all;
        }

        &_dateYou {
            display: flex;
            color: #737889;
            font-size: 13px;
            margin-bottom: 4px;
            justify-content: flex-end;
            margin-right: 50px;
        }
    }


    &_form {
        width: 95%;
        display: flex;
        margin: 0 auto;
        height: 40px;
        position: relative;
        margin-top: 20px;

        &_input {
            width: 80%;
        }

        input {
            outline: none;
            height: 35px;
            border: 0;
            width: 100%;
            background-color: #35373b;
            padding-left: 10px;
            color:floralwhite ;
        }

        button {
            border: 0;
            background-color: transparent;
            width: 100%;
            cursor: pointer;

            img {
                width: 20px;
            }
        }

        &_button_block {
            width: 20%;
        }

        &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 35px;
            background-color: rebeccapurple;
        }
    }
}

@media (max-width:600px) {
    .chat_form {
        padding-bottom: env(safe-area-inset-bottom);
    }
}