* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.html, body {
    overflow-x: hidden;
    height: 90vh;
    background-color: #242627;
}
@media (max-width: 912px) {
    body {
        padding-bottom: 100px;
    }
}
