.login {
  height: 70vh;
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: center;
  color: antiquewhite;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 30px;
    background-color: #cc3633;
    color: antiquewhite;
    border: 0;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
