.back {
    padding: 10px 15px;
    height: 100%;
    margin-left: 15px !important;
    height: 44px;
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }